<!-- Config file for the game -->

<config>
  <app>
    <title>Dino's Journey</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <player>
  <speed_modifier.x value = "12"/>
  <speed_modifier.y value = "10"/>
  <jump_time value = " 15"/>
  <slide_time value = " 15"/>
  <gravity value =" 6"/>
  </player>
  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

</config>