<!-- Config file for the game -->

<config>
  <app>
    <title>Dino's Journey</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <scene>
    <level1_name name="Newlevel1.tmx"/>
    <level2_name name="Newlevel2.tmx"/>
  </scene>
  
  <player>
    <position x="100" y="523"/>
    <file_path>textures/player.tmx</file_path>
    <textures>textures/SpriteSheet.png</textures>
    <Collider x="12" y="100" width ="46" height="49"/>
    <dynamics godmode="6.0f"/>
    <gravity value="6.0f"/>
    <jumping_time value="15"/>
	<jump_force value = "10" />
	<jump_height value = "10" />
    <speed_multiplier valueX="4.6f" valueY="4.6f"/>
    <margin collisionmargin="0"/>
    
  </player>
  

</config>