<!-- Config file for the game -->

<config>
  <app>
    <title>Dino's Journey</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>
  
  <player>
  <file_path>textures/player.tmx</file_path>
  <textures>textures/SpriteSheet.png</textures>
  <Collider x="12" y="19" width ="66" height="70"/>
  </player>
  

</config>